/var/log/php-fpm/*.log {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifempty
    create 0640 www-data adm
    sharedscripts
    postrotate
        if [ -x /usr/lib/php/php8.3-fpm-reopenlogs ]; then
            /usr/lib/php/php8.3-fpm-reopenlogs
        fi
    endscript
}