#!/bin/bash
export PATH=/usr/sbin:/usr/bin:/bin:"${PATH}"
sleep $(expr $(printf "\%d" "0x$(hostname | md5sum | cut -c 1-8)") \% 86400); PROVIDER={{ lexicon_provider }} LEXICON_{{ PROVIDER }}_USERNAME={{ lexicon_provider_username }} LEXICON_{{ PROVIDER }}_TOKEN={{ lexicon_provider_token }} dehydrated -c -k /usr/sbin/lexicon-dehydrated.default.sh --challenge dns-01 && ( service nginx reload ) > /tmp/dehydrated.log-$(date -u +%Y%m%d-%H%M%S) 2>&1